@CHARSET "ISO-8859-1";

@font-face {
  font-family: Calibri;
  src: url(font/Calibri.ttf);
}
@font-face {
  font-family: Arialn;
  src: url(font/Arialn.ttf);
}
@font-face {
  font-family: ARIALNI;
  src: url(font/ARIALNI.TTF);
}
/* Reset CSS
 * --------------------------------------- */
* {
  box-sizing: border-box;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {

    font-family: 'Asap', sans-serif;
}
h2 {
color: #2D3B6C;
font-size: 25px;
font-weight: 400;
line-height: 40px;

margin: 0;
padding-bottom: 10px; 
}
.title
{
color: #2D3B6C;
font-size: 55px;
font-weight: 400;
line-height: 40px;

margin: 0;
padding-bottom: 10px; 
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
/* 
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
 */
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: 'Asap', sans-serif;
	font-size: 16px;
	overflow-x: hidden !important;
	color: #717175;
	background: #FFFFFF;
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 6em;
}
p{
	font-size: 2em;
}
.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
.section{
	text-align:center;
}
#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}
.twitter-share-button{
	position: fixed;
	z-index: 99;
	right: 149px;
	top: 9px;
}
#download{
	margin: 10px 0 0 0;
	padding: 15px 10px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #49afcd;
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -webkit-gradient(linear,0 0,0 100%,from( #5bc0de),to( #2f96b4));
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(top, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
	border-color: #2f96b4 #2f96b4 #1f6377;
	border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	vertical-align: middle;
	cursor: pointer;
	display: inline-block;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
#download a{
	text-decoration:none;
	color:#fff;
}
#download:hover{
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	background-color: #2F96B4;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	-ms-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
	transition: background-position .1s linear;
}
#infoMenu{
	height: 20px;
	color: #f2f2f2;
	position:fixed;
	z-index:70;
	bottom:0;
	width:100%;
	text-align:right;
	font-size:0.9em;
	padding:8px 0 8px 0;
}
#infoMenu ul{
	padding: 0 40px;
}
#infoMenu li a{
	display: block;
	margin: 0 22px 0 0;
	color: #333;
}
#infoMenu li a:hover{
	text-decoration:underline;
}
#infoMenu li{
	display:inline-block;
	position:relative;
}
#examplesList{
	display:none;
	background: #282828;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 20px;
	float: left;
	position: absolute;
	bottom: 29px;
	right: 0;
	width:638px;
	text-align:left;
}
#examplesList ul{
	padding:0;
}
#examplesList ul li{
	display:block;
	margin: 5px 0;
}
#examplesList ul li a{
	color: #BDBDBD;
	margin:0;
}
#examplesList ul li a:hover{
	color: #f2f2f2;
}
#examplesList .column{
	float: left;
	margin: 0 20px 0 0;
}
#examplesList h3{
	color: #f2f2f2;
	font-size: 1.2em;
	margin: 0 0 15px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	padding: 0 0 5px 0;
}



/* Demos Menu
 * --------------------------------------- */
 #demosMenu{
	position:fixed;
	bottom: 10px;
	right:10px;
	z-index: 999;
 }
  .exit{
 
	background-color: #FF0040;
	border: none;
	color: white;
	width: 10%;
	height: 5%;
	position: fixed;
	right: 15px;
	font-size: 18px;
	z-index: 999;
	text-align: center;
	border-radius: 10px;
 }
   .download{
 
	 background-color: #000;
	 border: none;
  	color: white;
  	width: 10%;
  	height:5%;
	position:fixed;
	right:280px;
	 font-size:18px;
	z-index: 999;
	text-align: center;
 }
 
 
 input[type=button], input[type=submit], input[type=reset] {
  background-color: #9DB7D9;
  width: 20%;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
   font-size:18px;
  cursor: pointer;
}
input[type=text],[type=email],[type=password] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size:18px;
   text-align: center;
}

.container{
text-align:center;
background: #FFFFFF
}

#about
{
display: inline
}
.title-constancia{
padding-top: 50px;
}
.vensi-area{
padding-top: 20px;
color: :#717175
}
.vensi{
color:#717175;
font-size: 26px
}
.descripcion-vensi{
font-size: 26px;
line-height: 35px
}
.datos-constancia{
font-size: 34px;
color: #2D3B6C;
font-weight: 600;
}
.logos
{
padding-top: 40px;
padding-bottom: 20px;
}

.linea{
border-width: 1px;
width: 60%
}
	
hr {
border: 0;
width: 80%;
color: #d5d5d5;
background-color: #d5d5d5;
height: 1px;
}

.direccion{
		padding-top: 20px;
		padding-bottom: 25px;
	}
	
.images{
    text-align:center;
    padding-top: 40px;
	padding-bottom: 103px;
}
.column {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 30px; 
}

.resultados
{
	color: #717175;
	color:#717175 !important; 
	font-family: 'Asap', sans-serif;
	font-size:58px;f
	ont-style:normal;
	font-weight:400;
	line-height:83px;
	margin-top:0;
	padding-top:0;
	margin-right:0;
	padding-right:0;
	margin-bottom:0;
	padding-bottom:0;
	margin-left:0;
	padding-left:0;
	text-align:center;


}
#section2
{
  min-height:100%;/*for mozilla*/
  background: url('imgs/certificadovensi.png') center center no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: absolute; */
  width: 100%;

}
.cons-content {

 
}
.cons-contenttext
	{
  position: relative;
  

 }
.cons-title
{
  font-family: Calibri;
  color: #11baba;
  font-size: 70px;
   margin-left: 0px;
  margin-top: 0px;

}
.cons-person
{
    font-family: Calibri;
    color: #ef7602;
    font-size: 40pt;
    margin-left: 0%;
    margin-top: 36px;
}

.cons-reason
{
  font-family: Arial;
  color: #606060;
  font-size: 30pt;
  text-align: center;
  margin-left: 3%;
  margin-top: 50px;
 
  }

  .cons-date
{
  font-family: Calibri;
  color: #2d3b6c;
  font-size: 16pt;
  text-align: left;
  margin-top:8%;
  margin-left :5%;
 
}

  .cons-text
{
    
    font-family: ARIALNI;
    color: #606060;
    font-size: 16pt;
    text-align: left;
   margin-left : 5%;
}

  
@media (min-width: 768px) and (max-width: 1009px) 
{

  .cons-title
  {
  
    font-size: 40px;
    margin-left: 52px;
    margin-top: 150px;

  }
.cons-person
{
   
    font-size: 40px;
    margin-left: 14%;
    margin-top: 146px;
}

.cons-reason
{
  
  font-size: 30px;
  text-align: center;
  margin-right: 0%;
  margin-top: 50px;
  }

  .cons-date
{
    font-size: 16pt;
    text-align: center;
     margin-top:5%;
    margin-left: -66%;
}

  .cons-text
{
    
  
    font-size: 16pt;
    text-align: center;
   
}



}

@media (max-width: 768px) 
{
  .cons-title
  {
  
    font-size: 25px;
    margin-left: 52px;
    margin-top: 150px;

  }
.cons-person
{
   
    font-size: 25px;
    margin-left: 14%;
    margin-top: 146px;
}

.cons-reason
{
  
  font-size: 18px;
  text-align: center;
  margin-right: 0%;
  margin-top: 50px;
  }

  .cons-date
{
    font-size: 18px;
    text-align: center;
     margin-top:5%;
    margin-left: 0%;
}

  .cons-text
{
    
  
    font-size: 18px;
    text-align: center;
   
}

}
